[submodule "pack/nvim/start/lualine"]
	path = pack/nvim/start/lualine
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "pack/nvim/start/lspconfig"]
	path = pack/nvim/start/lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/nvim/start/luapad"]
	path = pack/nvim/start/luapad
	url = https://github.com/rafcamlet/nvim-luapad.git
