[submodule "pack/nvim/start/lualine"]
	path = pack/nvim/start/lualine
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "pack/nvim/start/lspconfig"]
	path = pack/nvim/start/lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/nvim/start/luapad"]
	path = pack/nvim/start/luapad
	url = https://github.com/rafcamlet/nvim-luapad.git
[submodule "pack/nvim/start/luasnip"]
	path = pack/nvim/start/luasnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "pack/nvim/start/blink.cmp"]
	path = pack/nvim/start/blink.cmp
	url = https://github.com/saghen/blink.cmp.git
[submodule "pack/nvim/start/prenary"]
	path = pack/nvim/start/prenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "pack/nvim/start/telescope"]
	path = pack/nvim/start/telescope
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "pack/colorschemes/start/nightfox"]
	path = pack/colorschemes/start/nightfox
	url = https://github.com/EdenEast/nightfox.nvim.git
[submodule "pack/nvim/start/nvim-treesitter-textobjects"]
	path = pack/nvim/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
